/**
    ** Color Name Generator
    ** http://chir.ag/projects/name-that-color/
**/
$white: #fff;
$black: #000;
$olivine: #A8C27E;
$aqua-squeeze: #EAF5F2;
$hint-of-green: #FCFFFD;
$nandor: #50645D;
$algae-green: #81E6AC;
$narvik: #F8FDFA;
$pewter: #90A9A0;
$anzac: #E4BE45;
$clear-day: #FAFFFD;
$paris-white: #D3E2DC;
$conch: #BDD0C9;
$sky-blue: #6ECCE8;
$golden-tainoi: #FFCD5C;
$salmon: #FF7B7B;
$bermuda: #8ADEDB;
$yellow-green: #C4DE8A;
$nebula: #D9E6E2;
$catskill-white: #FDFEFE;
$vivid-tangerine: #FF837E;
$perano: #B3ACF2;
$mystic: #E9F0EE;
$harp: #DFEDE8;
$opal: #A9C0C7;
$powder-ash: #BBCEC7;
$corduroy: #64726D;
$scooter: #3CCCDE;
$east-side: #B396D5;
$portage: #7EAAE6;
$tacao: #EBB177;
