@font-face{
  font-family: 'muli';
  src: url('../fonts/muli/Muli.ttf');
}

@font-face{
  font-family: 'muli-bold';
  src: url('../fonts/muli/Muli-Bold.ttf');
}

@font-face{
  font-family: 'muli-light';
  src: url('../fonts/muli/Muli-Light.ttf');
}
