<div class="header-container container-fluid">

  <!-- Main Branding Container -->
  <div class="branding-container flex">
    <div class="flex">
      <brand></brand>

      <div class="reception">
        <span class="title">Reception</span>
        <span class="date">{{ date | date:'EEEE, MMM. dd, yyyy' }}</span>
      </div>
    </div>
    <search></search>
    <user-setting></user-setting>
  </div>

  <!-- Organization Details -->
  <div class="organization-details-container flex">
    <company-details></company-details>
    <diagnostics-overview></diagnostics-overview>
  </div>

</div>
